<!DOCTYPE html>
<html lang="en">
<head>
  <title>GST Rates in India</title>
  <style>
    table {
      border-collapse: collapse;
      width: 50%;
      margin: 20px auto; /* Center the table horizontally */
    }

    th, td {
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    *{
        text-align: center;
    }
  </style>
</head>
<body>

<h2>Income Tax Calculator</h2>
<h3>Enter the Total Income & Choose the Category</h3>
<form>
<label for="amount">Amount: </label>
<input type="number" name = "amount" id = "amount" required></input>

<label for="deductions">Deductions: </label>
<input type="number" name = "deductions" id = "deductions"></input>
<br><br>

<select name="percentage" id = "percentage">
    <option value="0">Up to ₹3,00,000</option>
    <option value="0.05">₹3,00,001 - ₹6,00,000</option>
    <option value="0.10">₹6,00,001 - ₹9,00,000</option>
    <option value="0.15">₹9,00,001 - ₹12,00,000</option>
    <option value="0.20">₹12,00,001 - ₹15,00,000</option>
    <option value="0.30">Above ₹15,00,000</option>
  </select>
  <br><br>
  <input type="submit" value="Calculate TAX">
</form>
<p id="result"></p>

<script>
  const form = document.querySelector('form');

  form.addEventListener('submit', (event) => {
    event.preventDefault();

    const amount = parseFloat(document.getElementById('amount').value);
    const deductions = parseFloat(document.getElementById('deductions').value);
    const percentage = parseFloat(document.getElementById('percentage').value);

    // Calculation of GST
    const taxAmount = (amount - deductions) * percentage;

    const resultElement = document.getElementById('result');
    resultElement.textContent = `The calculated tax amount is: ₹${taxAmount.toFixed(2)}`;
  });
</script>
<h2>Tax Rates in India</h2>
<table class="tax-table">
    <tr>
      <th>Taxable Income</th>
      <th>Tax Rates</th>
    </tr>
    <tr>
      <td>Up to ₹3,00,000</td>
      <td>NIL</td>
    </tr>
    <tr>
      <td>₹3,00,001 - ₹6,00,000</td>
      <td>5%</td>
    </tr>
    <tr>
      <td>₹6,00,001 - ₹9,00,000</td>
      <td>10%</td>
    </tr>
    <tr>
      <td>₹9,00,001 - ₹12,00,000</td>
      <td>15%</td>
    </tr>
    <tr>
      <td>₹12,00,001 - ₹15,00,000</td>
      <td>20%</td>
    </tr>
    <tr>
      <td>Above ₹15,00,000</td>
      <td>30%</td>
    </tr>
  </table>

</body>
</html>